Package: com.hogan.iosscreenstream
Name: iOSScreenStream
Version: 1.1.0
Architecture: iphoneos-arm
Description: 低延迟 iOS 屏幕流传输与反向触控
Maintainer: Hogan <hogan.hong@github.com>
Author: Hogan <hogan.hong@github.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.82flex.trollvnc (>= 1.0.0)
