<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>iOSScreenStream</string>
			<key>footerText</key>
			<string>低延迟 iOS 屏幕流传输与反向触控</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>版本</string>
			<key>key</key>
			<string>version</string>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>default</key>
			<string>1.3.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>服务设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>启用服务</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>网络设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>192.168.1.100</string>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>key</key>
			<string>client_ip</string>
			<key>label</key>
			<string>电脑 IP 地址</string>
			<key>keyboard</key>
			<string>numbersAndPunctuation</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>5001</string>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>key</key>
			<string>video_port</string>
			<key>label</key>
			<string>视频端口 (UDP)</string>
			<key>keyboard</key>
			<string>numberPad</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>5002</string>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>key</key>
			<string>control_port</string>
			<key>label</key>
			<string>控制端口 (TCP)</string>
			<key>keyboard</key>
			<string>numberPad</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</key>
			<key>label</key>
			<string>视频设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>key</key>
			<string>fps</string>
			<key>label</key>
			<string>帧率 (FPS)</string>
			<key>keyboard</key>
			<string>numberPad</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>2000</string>
			<key>defaults</key>
			<string>com.hogan.iosscreenstream</string>
			<key>key</key>
			<string>bitrate</string>
			<key>label</key>
			<string>码率 (kbps)</string>
			<key>keyboard</key>
			<string>numberPad</string>
		</dict>
	</array>
</dict>
</plist>
